<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Add Room</title>
</head>
<body>
<div class="container">
    <hr>
    <h3>Add Room</h3>
    <hr>
    <form action="#" th:action="@{/rooms/save}"  th:object="${room}" method="POST">

        <input type="hidden" th:field="*{roomId}"/>

        <input type="text" th:field="*{roomId}" class="form-control mb-4 col-4" style="display:inline" placeholder="Room No"/><br>
        <input type="text" th:field="*{floorNo}" class="form-control mb-4 col-4" style="display:inline"  placeholder="Floor No"/><br>

        <button type="submit" class="btn btn-info col-2">Save Room</button>
    </form>
    <hr>
    <a th:href="@{/rooms/showAll}" class="btn btn-danger btn-sm">Go Back to Rooms</a>
</div>
</body>
</html>